USE [db_drill_logs]
GO
/****** Object:  Table [dbo].[tb_logs_main]    Script Date: 4/8/2026 3:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_logs_main](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ComputerName] [nvarchar](100) NOT NULL,
	[IPAddress] [nvarchar](50) NOT NULL,
	[CountToStop] [int] NOT NULL,
	[TestRound] [datetime] NOT NULL,
	[EmployeeId] [nvarchar](50) NOT NULL,
	[LogTime] [datetime] NOT NULL,
 CONSTRAINT [PK__Security__3214EC27D1D6BEDC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_logs_main] ON 

INSERT [dbo].[tb_logs_main] ([ID], [ComputerName], [IPAddress], [CountToStop], [TestRound], [EmployeeId], [LogTime]) VALUES (1, N'N330223001', N'172.31.3.78', 4, CAST(N'2026-01-30T08:00:00.000' AS DateTime), N'n330223001', CAST(N'2026-01-30T08:05:02.780' AS DateTime))
INSERT [dbo].[tb_logs_main] ([ID], [ComputerName], [IPAddress], [CountToStop], [TestRound], [EmployeeId], [LogTime]) VALUES (2, N'NTB287A', N'172.31.33.60', 5, CAST(N'2026-01-30T09:00:00.000' AS DateTime), N'ntb287a', CAST(N'2026-01-30T08:57:34.580' AS DateTime))
INSERT [dbo].[tb_logs_main] ([ID], [ComputerName], [IPAddress], [CountToStop], [TestRound], [EmployeeId], [LogTime]) VALUES (3, N'P330222320', N'172.31.31.233', 4, CAST(N'2026-01-30T09:00:00.000' AS DateTime), N'p330222320', CAST(N'2026-01-30T08:59:59.120' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tb_logs_main] OFF
GO
